@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Inter:wght@400;700&family=Manrope:wght@500&family=Noto+Sans:wght@500&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
$red: #e91802;
$black:  #282828;
$green: rgb(44, 186, 53);
$light-green: rgba(44, 186, 53, 0.75);
$pink: rgba(233, 24, 2, 0.75);
* {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    color: $black;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    position: relative;
}
ul {
    margin-bottom: 0;
}

li {
    list-style: none;
    margin: 0;
}

a {
    display: block;
    color: black;
    text-decoration: none;
    &:hover {
        color: black;
        text-decoration: none;
    }
}
img {
    display: block;
    width: 100%;
    height: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1rem;
}

// --------------------------------------------------------------------- HEAD ---------------------------------------------------------------------
.header {
    padding: 7px 0;
}
.logo {
    img {
        max-width: 100px;
    }
}
.top-banner {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}
.number, .top-info__addres  {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.75rem;
    padding: 0 10px;
    letter-spacing: 0.65px;
    text-align: right;
}
.number {
    color: $red;
    font-size: 24px;
    letter-spacing: 3px;
}
.top-nav {
    outline: none;
    border: 1px solid $black;
    background: #282828 linear-gradient(rgb(193 193 193 / 30%),rgb(0 0 0));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    ul.dropdown-list {
        padding: 0 !important;
    }
    ul:first-child{
        padding: 10px 0;
        display: flex;
        justify-content: space-evenly;
        a {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.75rem;
            // padding: 0 10px;
            letter-spacing: 0.65px;
        }
        li {
            position: relative;
        }
        
        ul {
            position: absolute;
            left: 0;
            top: 100%; 
            background: #000;
            overflow: hidden;
            height: 0;
            transition: all 0.3s ease;
            transform: translateX(-10px);
            padding-bottom: 10px;
            z-index: 10;
            li {
            width: 220px;
            padding: 3px 0;
            margin: 0 4px;
            
                a {
                    padding: 3px 10px;
                    color: #fff;
                }
            }
        }
        li:hover ul.dropdown-list {
            height: auto;
            padding: 10px 0;
        }

    }
}
.top-nav ul li a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .top-nav ul li a:hover::after {
    width: 100%;
    left: 0;
  }

.aside-left {
    float: left;
}
.aside-right {
    float: right;
    flex: 0 0 12%;
}
.aside-left, .aside-right {
    margin: 30px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    display: flex;
    justify-content: space-between;
}
.aside-brands-item {
    width: 92px;
    margin-bottom: 10px;
}
.aside-title {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.75rem;
    color: #fff;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid $black;
    border-radius: 7px;
    background: #282828 linear-gradient(rgb(193 193 193 / 30%),rgb(0 0 0));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    margin-bottom: 10px;
    }
.aside-brands-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pulse {
    width: 98%;
    margin: 0 auto 3px;
    height: 2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .pulse-line {
        height: 100%;
        background-color: $red;
        border-radius: 12px;
    }
    .left-line {
        width: 1%;
        animation: pulse 5s infinite linear;  
    }
    .righ-line {
        width: 93%;
        animation: pulse1 5s infinite linear;
    }
}
@keyframes pulse {
  0% {
    width: 1%;
  }
  100% {
    width: 93%;
  }
}
@keyframes pulse1 {
  0% {
    width: 93%;
  }
  100% {
    width: 1%;
  }
}

.main-title {
    font-size: 1.8rem;
    padding: 2rem 0 1rem;
    text-align: center;
}
.title-xs {
    color: $black;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.3;
}
.main-descr {
    text-align: justify;
    ul {
        display: inline;
        li {
            display: inline;
        }
    }
}
.descr {
    line-height: 1.4;
    font-size: 17px;
    margin-bottom: 30px;
}

.hero {
    margin-bottom: 50px;
}
.title-small {
    color: $black;
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 20px;
    &::before {
        content: " ";
        display: inline-block;
        margin-right: 0.25rem;
        border-left: 2px solid $red;
        width: 0;
        height: 1.125rem;
        border-left-width: 0.225rem;
    }
} 
.post-container .descr {
    text-align: justify;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    .descr {
        text-align: justify;
    }
}
.second-block .grid, .fourth-block .grid, .fifth-block .grid {
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
}

.sixth-block, .seventh-block, .eighth-block {
    .grid {
        grid-template-columns: 1fr 3fr;
    }
}
.seventh-block .grid, .ninth-block .grid, .thirteenth-block .grid {
    grid-template-columns: 3fr 1fr;
    & .grid-item:first-child {
        grid-column: 2;
        grid-row: 1;
    }
    & .grid-item:last-child {
        grid-column: 1;
        grid-row: 1;
    }
}
.twentieth-block .grid, .seventh-block .grid, .ninth-block .grid, .thirteenth-block .grid  {
    a {
        display: inline;
        color: $red;
        font-weight: 600;
    }
}
.eleventh-block .grid {
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 15px;
}

.tenth-block .grid {
    grid-template-columns: repeat(4, 0.5fr);
    column-gap: 80px;
}

.name {
    margin-bottom: 0;
}
.exp {
    font-size: 14px;
    line-height: 1.2;
    opacity: 0.6;
}

.twelfth-block {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
        .grid-item:nth-child(5) {
            grid-column: 2;
            justify-self: end;
        }
    }
    .text-link {
        float: right;
        margin-bottom: 30px;
        cursor: pointer;
    }
}

.thirteenth-block>.grid>:nth-child(3) {
    grid-column: 2;
    justify-self: end;
    text-align: justify;
}


.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.second-block, .third-block, .fourth-block, .fifth-block {
    .grid-item {
        justify-content: flex-end;
    }
}

.grid-item img {
    max-width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-bottom: 5px;
}


.post-container {
    margin-bottom: 50px;
    &.benefits {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        }
}
.divider {
    width: 100%;
    height: 3px;
    margin-bottom: 30px;
    outline: 0;
    border-radius: 7px;
    background: linear-gradient(#e91902ba 33%, #e91802 33%, #e91902c0 33%);
    margin-bottom: 15px;
}

.text-link {
    cursor: pointer;
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 80%;
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 7px;
        background: $red;
        transition: width 0.5s;
    }
    span {
        font-size: 0.875rem;
        color: $red;
        font-weight: 700;
    }
    &:hover {
        color: $red;
        &::after {
            width: 100%;
        }
        span {
            padding-left: 3px;
        }
    }
}

.second-block, .third-block {
    margin-bottom: 50px;
    margin-top: 30px;
}

.red-letter {
    margin-left: 5px;
    color: $red;
}
.ya-word, .red-letter {
    font-weight: 600;
    font-size: inherit;
    letter-spacing: inherit;
}

.fourteenth-block .grid {
    grid-template-columns: 80%;
    justify-content: center;
    :first-child {
        margin-bottom: 20px;
    }
}

.fifteenth-block .grid {
    grid-template-columns: repeat(6, 1fr);
    :nth-child(1) {
        grid-column: 1 / 6;
        margin-right: 10px; 
    }
    :nth-child(3),:nth-child(5) {
        grid-column: 1 / 4;
    }
    :nth-child(4),:nth-child(6) {
        grid-column: 4 / 7;
    }
}

.sixteenth-block .grid {
    grid-template-columns: repeat(4, 1fr);
}

.seventeenth-block {
    .grid {
        grid-template-columns: 1fr 1fr;
        .grid-item {
            display: flex;
            flex-direction: row;
            text-align: left;
            align-items: stretch;
            &:nth-child(7) {
                grid-column: 2;
                justify-self: end;
            }
        }
        
        .case-img {
            flex-shrink: 0;
            margin-right: 10px;
        }
        .case-data {
            line-height: 1.4;
            font-size: 16px;
            opacity: 0.5;
        }
        .case-title {
            font-weight: 600;
            a{
                font-weight: 600;
            }
            .hover-arrow {
                display: inline-block;
                transform: translateY(1px);
            }
            :hover {
                color: $red;
            }
            :hover .hover-arrow {
                color: $red;
                transform: translate(3px, 1px);
            }

        }
    }
}

.seventeenth-block.letters {
    .case-img {
        margin-right: 30px;
    }
    .case-title {
        width: 35%;
        margin-bottom: 10px;
    }
    .case-descr {
        text-align: justify;
        font-size: 14px;
    }
    .grid {
        column-gap: 50px;
        .grid-item {
            grid-column: auto;
            &:last-of-type {
                grid-column: 2;
                justify-content: end;
            }
        }
    }
}

.eighteenth-block .grid {
    align-items: center;
    grid-template-columns: 5fr 1fr;
}
.twentieth-block .grid{
    .case-title {
        font-weight: 600;
        font-size: 18px;
    }
    .case-img {
        margin-right: 20px;
    }
    .grid-item:nth-child(7) {
        grid-column: auto;

    }
}

.twentyfirst-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-small {
        text-align: center;
    }
    .descr {
        text-align: center;
    }
    .rendered-form {
        margin: 0 auto;
        background-color: rgb(239, 238, 238);
        box-shadow: 3px 4px 6px 0px rgba(237,227,227,0.75);
        border-radius: 7px;
        max-width: 800px;
        padding: 40px 40px 20px;
        div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;
            align-content: start;
            input, textarea {
                border: 1px solid black;
                height: min-content;
                width: 300px;
                margin-left: 50px;
                border-radius: 7px;
            }
            .checkbox-group {
                label a{
                    color: $red;
                    text-decoration: underline;
                }
                input {
                    height: auto;
                    width: auto;
                    border-color: $red;
                }
            }
            textarea {
                resize: none;
            }
        }
        
        .formbuilder-checkbox {
            display: flex;
            align-items: baseline;
            margin-bottom: 0;
            a {
                display: inline;
                margin-bottom: 0;
            }
        }
        .formbuilder-button {
            justify-content: center;
        }
    }
}

.twentysecond-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .number {
        text-align: center;
        font-size: 1.8rem;
        margin-top: 10px;
    }
    .title-small {
        text-align: center;
        &::before {
            margin-right: 10px;
        }

    }
}

.footer-banner {
    margin-top: 10px;
    margin-bottom: 25px;
    .footer-brands {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-brands-item {
        flex-shrink: 0;
        max-height: 40px;
        margin: 0 8px;
        img {
            height: 100%;
            width: auto;
        }
    }
}

.aside-banner {
    margin-bottom: 30px;
}

.warranty-left-container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .descr {
        font-size: 14px;
    }
}
.aside-item {
    margin-bottom: 30px;
    width: 100%;
    .descr {
        margin-bottom: 0;
        font-size: 14px;
        text-align: center;
        font-weight: 600;
    }
}
.warranty-left-container__item-img {
    max-width: 60px;
}
.aside-social {
    .aside-social-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 10px;
        .social-item {
            max-width: 35px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .descr {
        margin-bottom: 10px;
        text-align: center;
    }
}
.payment {
    width: 100px;
    margin: 0 auto;
}


.aside-link {
    margin-right: 20px;
    position: relative;
    margin-bottom: 5px;
    opacity: 0.8;
    font-size: 14px;
    &::after {
        content: '→';
        position: absolute;
        color: $red;
        top: 2px;
        right: -18px;
        transition: all 0.5s;
    }

    &:hover {
        color: $red;
        &::after {
            right: -20px;
        }
    }
}

.aside-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
        margin: 10px 0;
    }
    .descr {
        font-size: 12px;
        text-align: left;
        max-width: 200px;
        margin-bottom: 30px;
    }
    .aside-link {
        align-self: end;
    }
}

.aside-news {
    .aside-link {
        font-size: 13px;
    }
    .news-data {
        display: block;
        text-align: right;
        margin-bottom: 7px;
        font-size: 12px;
        opacity: 0.5;
    }
}
.aside-news.programms {
    .news-data {
        text-align: justify;
    }
}


.clients-wrapper {
    position: relative;
    width: 200px; /* заменить [width] на нужную ширину обертки */
    height: 195px; /* заменить [height] на нужную высоту обертки */
    overflow: hidden;
    img {
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        margin: 0 auto;
    }
}


// --------------------------------------------FOOTER--------------------------------------------
.footer {
    padding-bottom: 50px;
    &-divider {
        width: 100vw;
        height: 20px;
        margin: 10px 0 20px;
        background: #282828 linear-gradient(rgba(193,193,193,.3),#000); 
        box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    }
    .aside-link {
        font-size: 16px;
        min-width: 150px;
    }
    & ul li  {
        margin-bottom: 7px;
    }
    & .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__category {
        width: 49%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &-title {
            font-size: 20px;
            line-height: 14px;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
        &-links {
            grid-column: 1/3;
            &-column {
                width: 60%;
            }
        }
    }
    &__clients {
        &-title {
            font-size: 20px;
            line-height: 14px;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
    }
    &__contacts {
        &-links {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &-link-descr-time a {
            font-size: 16px;
            opacity: 0.5;
        }
        &-title {
            margin-bottom: 30px;
            text-align: right;
            & a {
                font-size: 20px;
                line-height: 14px;
                letter-spacing: 2px;
            }
        }
    }
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10px;
}

.delivery-page {
    .seventh-block {
        .descr {
            margin-bottom: 0;
        }
        .grid {
            grid-template-columns: 4fr 1fr;
        }   
    }
    .advantage {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
        .grid-item {
            flex-direction: row;
            justify-self: center;
        }
        .light-green {
            color: $light-green;
        }
        .pink {
            color: $pink;
            font-weight: 600;
        }
        .advatage-icon {
            font-weight: 600;
            width: auto;
            margin-right: 20px;
        }
    }
}

.tech {
    .clean-room {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }
    .one-pic {
        .grid-item {
            align-items: center;
            img {
                max-width: none;       
                max-height: none;
                width: auto;
                height: auto;
            }
        }
        
    }
    .connectors {
        margin-bottom: 15px;
        .text-link::after {
            display: none;
        }
    }
    .blog-links {
        .title-xs {
            margin-bottom: 30px;
        }
        .blog-links-container {
            display: flex;
            justify-content: space-evenly;
        }
    }
}
.post-container.grid.tech-benefits {
    grid-template-columns: 1fr;
    .benefits-item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .benefits-img {
            width: 90px;
            margin-right: 30px;
        }
        .descr {
            max-width: 50%;
        }
    }
    .title-small {
        margin-left: 30%;
    }
    a {
        display: inline;
        color: $red;
        font-weight: 600;
    }
}


.clients {
    .recomends-images .grid {
        grid-template-columns: repeat(7, 1fr);
    }
    .fourteenth-block {
        .grid-item {
            img {
                width: auto;
                height: auto;
            }
        }
        .links-container {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.price-page {
    .price {
        width: 100%;
        border-collapse: collapse;
        color: $black;
        font-size: 14px;
        text-align: left;
        th {
            // border: 1px dashed #ccc;
            padding: 12px;
            font-size: 14px;
            // background-color: #ffe3b9;
            font-weight: bold;
            color: #fff;
        }
        tr th:last-child {
            width: 120px;
        }
        td {
            border: 1px dashed #ccc;
            padding: 12px;
            font-size: 14px;
            div {
                text-align: center;
                span {
                    color: $light-green;
                }
            }
        }
        tr th:last-child {
            width: 120px;
            div {
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
            }
        }
        .first-tr {
            width: 100%;
            border: 1px solid #282828;
            border-radius: 7px;
            background: #282828 linear-gradient(rgba(193,193,193,.3),#000);
            box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
        }
    }
}

.contacts-page {
    table {
        margin: 0 auto;
        img {
            width: 14px !important;
            margin-right: 5px;
        }
        p {
            margin-bottom: 0;
            display: flex;
            align-items: center;
        }
        .number {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }
    }
    #map {
        margin: 0 auto;
        border: 1px solid #2828283e;
        overflow: hidden;
        border-radius: 7px;
        // background: #282828 linear-gradient(rgba(193,193,193,.3),#000);
        box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    }
    .post-container {
        width: 100%;
        a.title-xs {
            display: block;
            text-align: left;
            margin-bottom: 30px;
        }
    }
    .style18 {
        a {
            color: $red;
            display: inline-block;
        }
        img {
            display: inline;
            vertical-align: baseline;
            width: 18px;
            margin-right: 10px;
        }
    }
    .enter-block {
        .grid {
            grid-template-columns: 1fr 1fr;
            .grid-item {
                align-self: start;
                img {
                    width: auto;
                }
                &:nth-child(1) {
                    justify-self: end;
                }
                &:nth-child(2) {
                    justify-self: start;
                }
                &:nth-child(3),&:nth-child(4) {
                    grid-column: 1/3;
                }
            }
            
        }
    }
    .youtube-player {
        display: flex;
        justify-content: center;
    }
}

.promo-hdd {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.promo-hdd-2 {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.data-recovery-block {
    .grid {
        grid-template-columns: 1fr 1fr;
        .grid-item {
            display: block;
            a {
                color: $red;
                display: inline;
            }
        }
    }
}

img.border-black {
    display: inline;
    width: auto;
    float: right;
    margin-left: 20px;
    padding: 0.5em 0.5em;
    outline: 0;
    border: 1px solid #282828;
    border-radius: 7px;
    background: #282828 linear-gradient(rgba(193,193,193,.3),#000);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0)
}

.what-to-do-block {
    img {
        width: 22px;
        display: inline;
        vertical-align: baseline;
        margin-right: 5px;
    }
}

.raid {
    .promo-hdd {
        .grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .raid-benefits {
        .aside-link {
            width: fit-content;
            cursor: pointer;
        }
        .divider {
            margin-top: 15px;
        }
    }
    .blog-links {
        .title-small {
            display: block;
            text-align: center;
        }
        .blog-links-container {
            display: flex;
            justify-content: space-evenly;
            .aside-link {
                cursor: default;
            }
        }
    }
    .advantage {
        .title-small {
            display: block;
            text-align: center;
        }
        .grid {
            grid-template-columns: repeat(2,1fr);
            .grid-item {
                flex-direction: row;
                justify-self: center;
                .light-green {
                    color: rgba(44,186,53,.75);
                }
                .pink {
                    color: rgba(233,24,2,.75);
                    font-weight: 600;
                }
                .advatage-icon {
                    font-weight: 600;
                    width: auto;
                    margin-right: 20px;
                }
            }
        }
    }
    .raid-letters {
        .grid {
            grid-template-columns: repeat(8, 1fr);
            margin-bottom: 20px;   
        }
        .descr {
            padding-left: 50px;
            background-image: url('../img/icons/check-mark.svg');
            background-repeat: no-repeat;
            background-position:  left center;
        }
    }
}

.ssd-list {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    li {
        list-style: disc;
    }
}
.promo-ssd {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.iframe-container {
    display: flex;
    justify-content: center;

}
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    img {
        width: auto;
    }
}
.mac-recovery {
    .grid {
        grid-template-columns: repeat(6, 1fr)
    }
}
.cross-descr {
    padding-left: 50px;
    background-image: url(../img/icons/check-mark.svg);
    background-repeat: no-repeat;
    background-position: left center;
}

.programms-section {
    .aside-link {
        display: inline;
        font-size: 1rem;
        padding-bottom: 3px;
        border-bottom: 1px solid $red;
        &::after {
            top: 0;
        }
    }
    .programms-first .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.red-text-link {
    display: inline;
    color: $red;
    font-size: inherit;
    font-weight: 600;
}

.team {
    .divider {
        margin-bottom: 2rem;
        transform: translateY(15px);
    }
}

.team-wrapper {
    .grid {
        grid-template-columns: 1fr;
        .grid-item {
            flex-direction: row;
            justify-content: center;
            .team-photo {
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                margin-right: 30px;
            }
            .team-name {
                font-size: 1.5rem;
                // margin-bottom: 10px;
            }
            .team-position {
                margin-bottom: 10px;
            }
            .team-descr {
                width: 50%;
            }
            .position-descr {
                text-align: left;
            }
            .ssd-list {
                text-align: left;
            }
        }
    }    
}


.regions {
    .words {
        margin-bottom: 30px;
        a {
            color: $red;
        }
    }
    .towns {
        a {
            margin-right: 20px;
            position: relative;
            margin-bottom: 5px;
            opacity: .8;
            font-size: 14px;
        }
    }
    .sity {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.base {
    .grid {
        grid-template-columns: 1fr;
    }
    .base-triger-icon {
        width: 20px;
        height: 20px;
        border-bottom: 3px solid $red;
        border-right: 3px solid $red;
        transform: rotate(45deg);
        transition: all 0.555s ease-in-out;
        &.active-triger {
            transform: rotate(-135deg);
        }
    }
    .base-name {
        font-size: 1.2rem;
    }
    .base-info {
        display: flex;
        justify-content: center;
        align-items: center;
        .img-container {
            width: 60px;
            margin-right: 15px;
        }
    }
    .base-triger {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        cursor: pointer;
        &:hover .base-name {
            color: $red;
        }
    }
    .base-list {
        padding-left: 3rem;
        overflow: hidden;
        display: none;
        transition: all 0.555s ease-in-out;
        a{
            font-size: 12px;
        }
    }
}
.main-title {}
.grid {}
.grid-item {}



.base-name {}


#thankyou {
    background-color: #efeeee;
    box-shadow: 3px 4px 6px 0 rgba(237,227,227,.75);
    border-radius: 7px;
    max-width: 800px;
    padding: 40px 40px 20px;
    position: fixed;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    .thankyou-title {
        font-size: 1.3rem;
        text-align: center;
    }
}
.overlay1 {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:#000;
    opacity:.5;
    z-index:20;
}
.defects-block {
    .grid {
        grid-template-columns: 1fr;
    }
    .grid-item {
        display: grid;
        grid-template-columns: 5fr 1fr;
        gap: 30px;
        text-align: left;
    }
}

.defects-block-descr.questions {
    .descr {
        margin-bottom: 0;
        margin-top: 1rem;
    }
}

.first-tr {
    width: 100%;
    border: 1px solid #282828;
    border-radius: 7px;
    background: #282828 linear-gradient(rgba(193,193,193,.3),#000);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    h2 {
        color: white;
    }
}

.card-table {
    td {
        padding: 0.8rem;
    }
}

.logo {
    display: flex;
    align-items: center;
    img {
        margin-right: 10px;
    }
    div {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.2;
        span {
            color: $red;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.2;
        }
    }
}
.logo-small {
    justify-content: flex-end;
    margin-bottom: 6px;
    transform: translateY(-10px);
    font-size: 1.1rem !important;
    span {
        font-size: 1.1rem !important;
    }
    img {
        max-width: 70px;
        margin-bottom: 5px;
    }
}

#number-small {
    letter-spacing: normal;
    color: #e91802;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.title-small._center {
    display: block;
    text-align: center;
}

.order-list {
    list-style: auto !important;
    padding-left: 20px;
    li {
        list-style: auto !important;
    }
}

input {
    padding: 0.5rem;
}

#sizer {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(206, 206, 206);
    z-index: 40;
    text-align: center;
    padding: 0.125rem;
    width: 6rem;
    height: 1.8rem;
}

.programs-hero {
    .aside-link {
        display: block;
        border-bottom: none !important;
    }
}
.firm {
    img {
        max-width: none;       
        max-height: none;
        width: auto;
        height: auto;
    }
}

.menu-trigger {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .menu-trigger.active .menu-button > span {
    background-color: transparent;
  }
  .menu-trigger.active .menu-button > span:before,
  .menu-trigger.active .menu-button > span:after {
    top: 0;
  }
  .menu-trigger.active .menu-button > span:before {
    transform: rotate(45deg);
    background-color: #fff;
    opacity: 0.8;
  }
  .menu-trigger.active .menu-button > span:after {
    transform: rotate(-45deg);
    background-color: #fff;
    opacity: 0.8;
  }
  .menu-trigger.active .menu-button.left-cross > span:before {
    transform: rotate(-45deg);
    background-color: #fff;
    opacity: 0.8;
  }
  .menu-trigger.active .menu-button.left-cross > span:after {
    transform: rotate(45deg);
    background-color: #fff;
    opacity: 0.8;
  }
  
  .menu-button > span,
  .menu-button > span:after,
  .menu-button > span:before {
    content: "";
    display: block;
    position: absolute;
    background: black;
    border-radius: 1px;
    transition: all 0.5s ease-in-out;
  }
  .menu-button > span {
    width: 100%;
    height: 10%;
    left: 0%;
    top: 45%;
  }
  .menu-button > span:before, .menu-button > span:after {
    width: 100%;
    height: 100%;
    left: 0;
  }
  .menu-button > span:before {
    top: -360%;
  }
  .menu-button > span:after {
    top: 360%;
}

.menu-trigger {
    // display: none;
    z-index: 2000;
}

// ------------------------------------------- MEDIA -------------------------------------------

@import 'media.scss'